.service {
  width: 100vw;
  background-image: url("../../common/img/circle-scatter-haikei.svg");
  // background-color: white;
  height: 100vh;
  // background-color: #6d67e4;
  // background-image: url("../../common/img/blurry-gradient-haikei.svg");
  background-repeat: no-repeat;
  // // background-size: cover;
  background-size: 100%;
  // animation: backgroundMove 10s forwards;
  // animation-delay: 0.7s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.service-container {
  position: relative;
}

.project {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  // height: 40vh;
  padding: 20px;
  margin: 20px;
  // margin-top: 130px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.3s;
  &:hover {
    border: 1px solid rgba(#6d67e4, 0.5);
    box-shadow: rgba(#6d67e4, 0.4) 0px 3px 10px;
  }
  &-img {
    width: 40%;
    img {
      width: 50%;
    }
  }
  &-content {
    width: 58%;
    h3 {
      font-size: 2rem;
      margin: 0;
    }
    &-stack {
      span {
        font-size: 0.9rem;
        background-color: #6d67e4;
        color: white;
        margin: 2px;
        padding: 1px;
      }
    }
    &-desc {
      margin: 1rem 0;
    }
    &-developer {
      font-weight: 400;
      font-size: 0.95rem;
    }
    &-date {
      font-weight: 400;
      font-size: 0.85rem;
      margin: 0.5rem 0;
      color: gray;
    }
    &-git {
      margin-top: 1.5rem;
      color: #6d67e4;
    }
  }
}

@keyframes backgroundMove {
  0% {
    background-size: 150%;
  }
  100% {
    background-size: 100%;
  }
}
