.stack {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  // background-image: url("../../common/img/circle-scatter-haikei.svg");
  // background-color: white;
  height: 100vh;
  background-color: #6d67e4;
  background-image: url("../common/img/blurry-gradient-haikei.svg");
  background-repeat: no-repeat;
  // // background-size: cover;
  background-size: 150%;
  animation: backgroundMove 10s forwards;
  animation-delay: 0.7s;
}

.stack-container {
  position: relative;
}

@keyframes backgroundMove {
  0% {
    background-size: 150%;
  }
  100% {
    background-size: 100%;
  }
}
